<div class="nous-rejoindre-container">
  <h1>Nous Rejoindre</h1>
  <p>Rejoignez notre équipe ! Veuillez remplir le formulaire ci-dessous et télécharger votre CV.</p>

  <div class="form-wrapper">
    <%= form_with url: "/nous_rejoindre", method: :post, local: true, html: { multipart: true } do |form| %>
      <div class="form-row">
        <div class="form-group">
          <%= form.label :nom, "Nom" %>
          <%= form.text_field :nom, required: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :prenom, "Prénom" %>
          <%= form.text_field :prenom, required: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <%= form.label :email, "Email" %>
          <%= form.email_field :email, required: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :telephone, "Téléphone" %>
          <%= form.telephone_field :telephone, required: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-row checkboxes">
        <div class="form-group checkbox">
          <%= form.check_box :etudiant, { class: "form-check-input" }, "Oui", "Non" %>
          <%= form.label :etudiant, "Étudiant", class: "form-check-label" %>
        </div>

        <div class="form-group checkbox">
          <%= form.check_box :employe, { class: "form-check-input" }, "Oui", "Non" %>
          <%= form.label :employe, "Employé", class: "form-check-label" %>
        </div>
      </div>


      <div class="form-group">
        <%= form.label :message, "Message" %>
        <%= form.text_area :message, required: true, rows: 5, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :cv, "Télécharger votre CV" %>
        <%= form.file_field :cv, required: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.submit "Envoyer", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
