<!DOCTYPE html>
<html>
  <head>
    <title>Dipiaza</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">

    <script>
      window.googleMapsApiKey = "<%= ENV['GOOGLE_MAPS_API_KEY'] %>";
  </script>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@300;400&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>

<%= render 'shared/navbar' %>

    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000, // Durée des animations
        easing: 'ease-in-out', // Type d'animation
        once: true // Animation jouée une seule fois
      });
    </script>
    <%= render 'shared/footer' %>

  </body>
</html>
